.env
.env.test
.env.production
logs
.cache/
*.log
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.vscode/
.idea/
.github/
.DS_Store
node_modules/

coverage
*.lcov